.sidenav-container {
  height: 100%;
  box-shadow: 0px 1px 10px #999;
 
}

.sidenav {
  width: 200px;
  box-shadow: 0px 1px 10px #999;
}

.sidenav .mat-toolbar {
  background: inherit;
  box-shadow: 0px 1px 10px #999;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
  box-shadow: 0px 1px 10px #999;
}
.mat-nav-list a{
  padding-top:60px;

}
.mat-toolbar{
  box-shadow: 0px 1px 10px #999;
}