<link rel="stylesheet" href="https://bootswatch.com/4/united/bootstrap.min.css">

 
<div class="nav">
   <nav>
      <a [routerLink]="['/signup']">{{title1}}</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <a [routerLink]="['/login']" >{{title2}}</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
       <a [routerLink]="['/daycareregisteration']">{{title3}}</a>
   </nav>
</div>
  
<div [ngClass]="'vestigio-heading'">
   <header>
        <h1 style="text-align:center;float:center;color: #DB7093;font-size:60px;"><b>ves</b></h1> 
        <h2 style="text-align:center;float:center;color:#FF7F50;font-size:60px"><b>ti</b></h2>
        <h3 style="text-align:center;float:center;color:#368BC1;font-size:60px"><b>gio</b></h3>
      </header>
</div>

   <div class="paragraph">
      <p>Find your ideal daycare and compare governance </p><p id="p2">on a single websites.</p>
   </div>


<div class="wrap">
    <div class="search">
       <input type="text" class="searchTerm" placeholder="What are you looking for?">
       <button type="submit" value="Search" class="searchButton">
          <b> Search</b>
      </button>
    </div>
 </div>
 <div id="image">
      <img src="assets/image/child3.png" height="500px" width="500px">
   </div>